body {
    text-align: center;
    padding-top: 1000px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 300px;
    color: darkblue;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(white 0%, green 100%);
    z-index: 9;
}
.profile {
    width: 500px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.parallax-inner {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    position: relative;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 40px;
}

p {
    line-height: 1.3;
    margin: 25px auto;
    font-size:18px;
    max-width: 450px;
    font-family: monospace;
        
}

.menu {
    list-style: none;
    font-family: monospace;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    
}

.items {
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family:monospace
}

.items:hover {
    background-color: bisque;
}

#name { 
font-size: 30px; 
font-family:'Cinzel Decorative', cursive; 
}